snippet call
call minpac#add('$1')
endsnippet

snippet fun "function"
function! s:${1:functiona_name}() abort
$0
endfunction
endsnippet

snippet if "if condition"
if $1
$0
endif
endsnippet

snippet aug "auto group"
augroup ${1:group_name}
	" remove all other auto commands
  autocmd!
	$0
augroup end
endsnippet
