# $HOME/.config/autostart/activityMonitor.desktop

[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=System Monitor
Comment=system activity monitor
Exec=gnome-system-monitor
Icon=org.gnome.SystemMonitor
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;System;Monitor;

